/**
 * ----------------------------------------------------------------------------------------
 * Header styles.
 * ----------------------------------------------------------------------------------------
 */

/**
 * Main header.
 */

#nav-main {



  nav {
    padding:15px;
    margin-bottom:0;
    background-color: #000;
    text-align: center;
    border-bottom:1px solid $xpro-blue-light-light;
  }

}

#lineDrawing {
  max-width:351px;
  margin-left:auto;
  margin-right:auto;
}